


@media screen and (max-width:800px){
    .my-flex-item-image {
        width:25%;
        width:25%;
    }
}


@media screen and (min-width:800px){
    .my-flex-item-image {
        width:30%;
        width:30%;
    }
}


/* .img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
} */


@media screen and (min-width:800px) {
    .apply-mobile-background-1{
        background-color:#FF6065;
    }
}

@media screen and (min-width:800px) {
    .apply-mobile-background-2{
        background-color:#FF6065;
    }
}

@media screen and (min-width:800px) {
    .apply-mobile-background-3{
        background-color:#FF6065;
    }
}

@media screen and (min-width:800px) {
    .apply-mobile-background-4{
        background-color:#FF6065;
    }
}


@media screen and (max-width:800px) {
    .apply-mobile-background-1{
        background-color:#503CEB;
    }
}

@media screen and (max-width:800px) {
    .apply-mobile-background-2{
        background-color:#FF6065;
    }
}

@media screen and (max-width:800px) {
    .apply-mobile-background-3{
        background-color:#AD98FF;
    }
}


@media screen and (max-width:800px) {
	.earn-1 {
		position: relative;
		top: 85px;
		left: 33%;
		mix-blend-mode: screen;
	}

	.earn-2 {
		position: relative;
		top: 320px;
		float: right;
		mix-blend-mode: screen;
	}

	.earn-3 {
		position: relative;
		top: 230px;
		float: left;
		mix-blend-mode: screen;
	}

	.order-1 {
		position: relative;
		top: 70px;
		left: 0px;
		float: left;
		mix-blend-mode: darken;
	}

	.order-2 {
		position: relative;
		float: right;
		top: 200px;
		mix-blend-mode: screen;
	}

	.order-3 {
		position: absolute;
		left: 0px;
		top: 2700px;
		mix-blend-mode: normal;
	}

}

@media screen and (min-width:800px) {
	.earn-mobile {
		display: none;
	}

	.order-mobile {
		display: none;
	}
}


@media screen and (max-width:800px) {
	.first-list {
		padding-left: 8%;
	}

	.download-now {
		margin: 5vh 7vw;
	}
}


	.desktop-padding {
		padding-left: 2%;
	}



}
