
body {
	font-family: Arial;
}

li {
	list-style: none;
	color: white;
}

button {
	cursor: pointer;
}

.header {
	background-color: #503CEB;
	height: 15vh;
}

@media screen and (min-width:800px) {
	.shopsy-logo img {
		margin-top: 3vh;
		margin-left: 3vw;
		padding-bottom: 1vh;
		float: left;
		height:10vh;
		width:9vh;
	}

	.shopsy-name {
		padding-top: 3.5vh;
		padding-right: 5px;
		font-weight: bold;
		font-size: 5vh;
		font-family: Arial, Helvetica, sans-serif;
	}

	.shopsy-Flipkart {
		opacity: 0.4;
		font-size: 2.5vh;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
	}

}

@media screen and (max-width:800px) {


	.shopsy-name {
		padding-top: 7vw;
		padding-right: 5vw;
		font-weight: bold;
		font-size: 6vw;
		/* font-family: Arial, Helvetica, sans-serif; */
		color:white;
		border-style:dashed;
	}

	.shopsy-Flipkart {
		opacity: 0.8;
		font-size: 5vw;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
		margin-left:10vw;
		border-style:dashed;
	}



}



button:hover {
	opacity: 1.0;
}

.video {
	float: right;
	margin-right: 100px;
	margin-top: 20px;
	border: 10px solid #523bd9;
	border-radius: 5px;
}


.first {
	background-color: #523bd9;
	height: 350px;
	color: white;
	padding-top: 20px;
	padding-left: 100px;
}



@media screen and (min-width:800px) {
	.download-now {
		background-color: #F8C752;
		border: 2px solid #F8C752;
		border-radius: 4px;
		transition-duration: 0.4s;
		cursor: pointer;
		margin-top: 20px;
		padding: 5px 10px;
	}
}

@media screen and (max-width:800px) {
	.download-now {
		background-color: #F8C752;
		border: 1.25vw solid #F8C752;
		border-radius: 2vw;
		transition-duration: 0.4s;
		cursor: pointer;
		/* margin-top: 20px; */
		/* display: flex;
		align-items: center;
		justify-content: center; */
	}
}



.playstore-logo {
	float: left;
	padding-top: 15px;
	margin-right: 3px;
}

.second {
	height: 600px;
	background-color: #f05d8e;
}

.third {
	height: 450px;
	background-color: #523bd9;
	padding-top: 50px;
	text-align: center;
}

.third-title {
	color: white;
	text-align: center;
	padding: 30px;
}

.item {
	float: left;
	width: 33%;
	list-style: none;
}

.item-icon {
	position: relative;
}

.item-icon p {
	position: absolute;
	top: 90px;
	width: 100%;
	color: yellow;
	padding-top: 10px;
	font-size: 25px;
}

.contents {
	width: 80%;
	display: inline-block;
	margin-top: 70px;
	font-size: 20px;
	color: white;
}
